h1 {
    font-weight: bold; 
    font-size: 36px;
    width: 100%;
    text-align: left;
    color: rgb(229, 255, 0);
}
body {
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../images/PsychicBackground.jpg); 
    background-size: 100%;
    color: white;
}
#gameContent {
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
}